<label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" />
<hr>
<input type="text" class="form-control" [(ngModel)]="serverName" />
<hr>
<label>User name: </label>
<div>

  <input
    type="text"
    class="form-control"
    placeholder="User Name"
    [(ngModel)]="userName"
  />
</div>
<hr>
<button type="button" class="btn btn-danger" [disabled]="userName===''"
 (click)="userName=''">
  Reset name
</button>

<!-- <p>{{serverName}}</p> -->
<button
  type="button"
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer($event)"
>
  Add server
</button>
<hr>
<button type="button" class="btn btn-success" (click)="showSecret = !showSecret">
  Display Detail
</button>
<button type="button" class="btn btn-info" (click)="onClickToggleDisplay()">
  Toggle
</button>
<hr>
<p *ngIf="showSecret" [ngStyle]="{backgroundColor:countClickDisplayDetail%5===0?'orange':'cyan'} " [ngClass]="{detail:countClickDisplayDetail%5===0}">{{passWord}}</p>
<div *ngFor="let item of recordLog; let i = index" [ngStyle]="{backgroundColor:i>4?'orange':'cyan'} " [ngClass]="{detail:i>4}">{{item}}</div>
<hr>
<p>{{ userName }}</p>

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
<ng-template #noServer>
  <p >
    No server was created!
  </p>
</ng-template>

<hr>
<app-server *ngFor="let server of servers"></app-server>
<!--<app-server></app-server>-->

